<?xml version="1.0"?>
<robot name="rw" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="rw_macro" params="ros2_control_plugin:='uf_robot_hardware/UFRobotSystemHardware'">

    <xacro:include filename="$(find rw)/urdf/rw.urdf.xacro" />
    <xacro:rw_urdf/>

    <xacro:include filename="$(find rw)/urdf/rw.transmission.xacro" />
    <xacro:rw_transmission hard_interface="VelocityJointInterface" />
    
    <xacro:include filename="$(find rw)/urdf/rw.ros2_control.xacro" />
    <xacro:if value="${ros2_control_plugin == 'uf_robot_hardware/UFRobotSystemHardware'}">
      <!-- uf_robot_hardware/UFRobotSystemHardware only use on the real xarm robot -->
      <xacro:rw_ros2_control ros2_control_plugin="uf_robot_hardware/UFRobotFakeSystemHardware" />
    </xacro:if>
    <xacro:unless value="${ros2_control_plugin == 'uf_robot_hardware/UFRobotSystemHardware'}">
      <xacro:rw_ros2_control ros2_control_plugin="${ros2_control_plugin}" />
    </xacro:unless> 

    <xacro:include filename="$(find rw)/urdf/rw.gazebo.xacro" />
    <xacro:rw_gazebo/>

  </xacro:macro>

</robot>
